/* DoctorPage.css */

.doctor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 35px;
    padding: 0;
}

.page-label {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-description {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #7e7c7c;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.filter-item label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.filter input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
}

.doctors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    width: 80%;
    height: 80%;
    margin: 20px;
    overflow-y: auto;
}

.doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    transition: all 1s ease;
    flex-grow: 1;
    /* Add this property */
    min-width: 250px;
    /* Add this property */
}

.doctor .doctor-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor .doctor-status {
    position: relative;
    top: 10%;
    left: 4%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: darkblue;
    border: 1px solid white;
    transition: all 1s ease;
}

.doctor:hover .doctor-status {
    /* hide */
    display: none;
}

.doctor.available .doctor-status {
    background-color: green;
}

.doctor.unavailable .doctor-status {
    background-color: red;
}

.doctor.offline .doctor-status {
    background-color: gray;
}

.doctor.busy .doctor-status {
    background-color: orange;
}

.doctor .doctor-image img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    outline-offset: 2px;
    outline: 1px solid darkblue;
    transition: all 1s ease;
}

.doctor.available .doctor-image img {
    outline: 1px solid green;
}

.doctor.unavailable .doctor-image img {
    outline: 1px solid red;
}

.doctor.offline .doctor-image img {
    outline: 1px solid gray;
}

.doctor.busy .doctor-image img {
    outline: 1px solid orange;
}

.doctor .Name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
}

.doctor .specialty {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #7f7f7fde;
}

.view-profile-button {
    position: relative;
    top: -110px;
    right: 10px;
    display: none;
    padding: 5px 10px;
    background-color: transparent;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
}



.doctor:hover .view-profile-button {
    display: block;
}
.doctor:hover .view-profile-button:active {
    background-color: #0A1129;
    color: #fff;
}

.doctor:hover  {
    background-color: #0A1129;
    grid-column: auto / span 2;
    /* Change this property */
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    color: #fff;
}

/* how can the last doctor card expend when there is not space in the */



.doctor:hover .doctor-image img {
    outline-offset: 3px;
    outline: 2px dashed rgb(255, 255, 255);
}

.doctor:hover  .doctor-status {
    left: auto;
    top: auto;
    bottom: 5%;
    right: 10%;
    align-self: flex-start;
}

.doctor .doctor-specs {
    display: none;
}

.doctor .doctor-specs h3 {
    font-size: 1.5em;
    font-weight: 200;
    color: #bcbcbc;
    margin-bottom: 2px;
}

.doctor .doctor-specs p {
    font-size: 1.2em;
    font-weight: bold; 
    color: #ffffff;
    margin-bottom: 2px;
}

.doctor:hover  .doctor-specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.doctor .doctor-info .name-specialty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doctor:hover  .doctor-info .name-specialty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doctor:hover  .doctor-info .Name {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}
.doctor:hover  .doctor-info .specialty{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 200;
}

.doctor:hover  vl {
    border-left: 1px solid #fff;
    height: 60%;
    margin: 0 10px;
    width: 1px;
}